@page "/"

<PageTitle>Home</PageTitle>

<head>
    <style>
        
    </style>
</head>
<body>
    <h1>Aplicacion web para la gestion e interaccion de usuario</h1>
    <p>Con este <a href="/listaenteros">enlace</a> puede dirigirse directamente a la lista de usuarios cargados</p>
</body>
