@page "/listaclientes"
@rendermode InteractiveServer
@using UI.Entidades

<PageTitle>Lista_Clientes</PageTitle>


<h2>Listado de clientes</h2>

<button @onclick="Mostar">@_estado</button>

<div>
    @if(_mostar){
        <ul>
            @foreach(Cliente c in lista){
                <li>@c.Apellido, @c.Nombre, @c.Edad.</li>
            }
        </ul>
    }
</div>

@code{
    private bool _mostar = true;
    private List<Cliente> lista = Cliente.GetClientes();
    private string _estado = "Ocultar";
    private void Mostar(){
        _mostar = !_mostar;
        if(_mostar){
            _estado = "Ocultar";
        }
        else{
            _estado = "Mostar";
        }
    }
}