@if(visible)
{
    <h3>@Mensaje</h3>
    <button class="btn btn-primary" @onclick="Confirmar">Aceptar</button>
    <button class="btn btn-secondary" @onclick="Cerrar">Cancelar</button>
}

@code{
    private bool visible = false;
    [Parameter] public string Mensaje {get;set;}="";
    [Parameter] public EventCallback OnConfirmado{get;set;}

    void Confirmar()
    {
        visible=false;
        OnConfirmado.InvokeAsync();
    }
    public void Mostrar()
    {
        visible=true;
        StateHasChanged();
    }

    void Cerrar()
    {
        visible=false;
    }
}